## Lab 3: pandas

#### Introduction

We will examine a dataset containing characteristics of lego sets manufactured between 1961 and 2019 from the BRICKSET website. Variables in the dataset are described below.

| VARIABLE             |      DESCRIPTION             |
|:----------|:-------------|
| ID |  set id |
| Name |    name of set   |
| Themegroup | themegroup of set |
| Theme |  theme of set |
| Subtheme |    subtheme of set   |
| Year | year released |
| Pieces |  number of pieces |
| Minifig |    number of minifigs   |
| Package | type of packaging |
| Retail_Price |  recommended retail pri



Load pandas to read in the data and save it as dataframe named lego.

In [176]:
import pandas as pd

lego = pd.read_csv('lego.csv')

#lego.head(7)
lego.loc[lego.retail_price==0, :].head(7)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
2266,40135-1,Angler Fish,Miscellaneous,Promotional,Monthly Mini Model Build,2015.0,29.0,0,Polybag,0.0
2269,40138-1,Christmas Train,Miscellaneous,Seasonal,Christmas,2015.0,233.0,0,Box,0.0
2882,40094-1,Snowplough,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,46.0,0,Polybag,0.0
2883,40095-1,Micro Manager,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,50.0,0,NaN,0.0
2884,40096-1,Spring Tree,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,62.0,0,Polybag,0.0
2885,40097-1,Helicopter,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,44.0,0,Polybag,0.0
2886,40098-1,Dragon,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,43.0,0,Polybag,0.0

#### Question 1:
Some sets have missing information for retail_price or pieces or both. This could be because the sets are free (giveaways), they aren’t traditional lego sets (comic books, etc) or just because the information is missing. Filter the lego dataset based on the specifications below and save the result as lego. Hence, you will overwrite the original lego object. In addition, describe the implications of removing these sets.

Your new lego (data frame) should have:

• no missing pieces

• only contain sets with a nonzero number of pieces

• no missing retail_price

• only contain sets with a nonzero retail_price

• no missing year

- Print out the shape of the dataframe after cleaning the dataset.
-

In [178]:
# Write your answer here

# dropna: remove rows with missing values in 'pieces', 'retail_price', or 'year' 
print(f"The shape of the lego dataset is: {lego.shape}")

lego_cleaned=lego.dropna()
print(f"The shape of the cleaned lego dataset is: {lego_cleaned.shape}")

lego_cleaned=lego_cleaned.loc[lego_cleaned.retail_price>0,:] #subsetting, keeps anything>0
print(f"The shape of the updated cleaned lego dataset is: {lego_cleaned.shape}")

The shape of the lego dataset is: (12214, 10)
The shape of the cleaned lego dataset is: (4360, 10)
The shape of the updated cleaned lego dataset is: (4277, 10)

#### Question 2:	
Arrange the dataset in descending order of retail_price and print the first three rows. Report in words the names of the three most expensive lego sets, their prices, and how many pieces each has.

In [180]:
# Write your answer here
lego_cleaned.sort_values(by='retail_price', ascending=False).head(3)


#example
#lego_cleaned.theme.unique() #to get all themes
#lego_cleaned.loc[lego_cleaned.theme=='Harry Potter',:].shape #show all rows have theme harry potter
#lego_cleaned.loc[lego_cleaned.theme=='Harry Potter',:].sample(6)
#lego_cleaned.loc[lego_cleaned.theme=='Harry Potter',['name','themegroup', 'theme', 'subtheme']:].shape(6) specifc coloumns

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
1434,75192-1,Millennium Falcon,Licensed,Star Wars,Ultimate Collector Series,2017.0,7541.0,8,Box,799.99
5944,10179-1,Ultimate Collector's Millennium Falcon,Licensed,Star Wars,Ultimate Collector Series,2007.0,5197.0,5,Box,499.99
2065,75159-1,Death Star,Licensed,Star Wars,Ultimate Collector Series,2016.0,4016.0,27,Box,499.99

#### Question 3:

It appears that the most expensive sets generally have more pieces. Create a new variable (column) price_per_piece, representing the price in dollars per piece for each of the sets. Save the result as lego2. Hence, you will overwrite the current lego object.

In [182]:
# Write your answer here

# Create a new column 'price_per_piece' by dividing 'retail_price' by 'pieces'
lego_cleaned['price_per_piece'] = lego_cleaned.retail_price / lego_cleaned.pieces
lego_cleaned.sample(6)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price,price_per_piece
6386,8661-1,Carbon Star,Racing,Racers,Tiny Turbos,2006.0,44.0,0,Canister,4.00,0.090909
3373,10233-1,Horizon Express,Model making,Creator Expert,Trains,2013.0,1351.0,6,Box,129.99,0.096218
5953,3352-1,Salty the Dockyard Diesel,Pre-school,Duplo,Thomas the Tank Engine,2007.0,8.0,0,Box,12.99,1.623750
5244,8684-4,Witch,Miscellaneous,Collectable Minifigures,Series 02,2010.0,6.0,1,Foil pack,1.99,0.331667
10667,6301-1,Town Mini-Figures,Modern day,Town,Accessories,1986.0,32.0,6,Box,5.50,0.171875
8032,7106-1,Droid Escape,Licensed,Star Wars,Episode IV,2001.0,45.0,2,Box,6.00,0.133333

#### Question 4:	

Arrange the lego2 dataset in descending order of price_per_piece and return only the columns: name, themegroup, theme, pieces, price_per_piece, and the first five rows. What do you notice about these sets?

In [194]:
# Write your answer here
lego_sorted = lego_cleaned.sort_values(by='price_per_piece', ascending=False)
lego_sorted= lego_sorted.loc[: ,['name', 'themegroup', 'theme', 'pieces', 'price_per_piece']]

lego_sorted.head(5)

#in a single line
#lego_cleaned.sort_values(by='price_per_piece', ascending=False).loc[:,['name', 'themegroup', 'theme', 'pieces', 'price_per_piece']].head(5)    #columns should be in a list
                                                                                                                                                #all rows specicfic coloumns
                                                                                                                                                #loc=subset

,name,themegroup,theme,pieces,price_per_piece
5551,Rechargeable Battery Box,Technical,Power Functions,1.0,49.990
5553,Transformer 10V DC,Technical,Power Functions,1.0,29.990
5616,Collectable Display Set 2,Licensed,Star Wars,2.0,24.995
8694,Temperature Sensor,Technical,Mindstorms,1.0,24.000
7540,Robotics Invention System Upgrade Kit,Technical,Mindstorms,1.0,20.000

#### Question 5:

What is the mean price_per_piece for the top 40 'Toy Story' sets in terms of price_per_piece?

In [204]:
# Write your answer here

lego_sorted.loc[lego_sorted.theme=='Toy Story', :].head(40).price_per_piece.mean()

0.16089862892544177

#### Question 6:

What are the unique themes in the lego dataset?

In [207]:
# Write your answer here

#count for each theme how many sets we have
lego.theme.value_counts()

theme
Duplo                        1050
Town                          640
Star Wars                     631
Gear                          585
Collectable Minifigures       565
                             ...
Avatar The Last Airbender       2
Primo                           2
The Simpsons                    2
Boost                           1
CITY                            1
Name: count, Length: 139, dtype: int64